.main-content ul.center {
    margin-left: auto;
    margin-right: auto;
    text-align: initial;
    width: 85%;
}

.main-content ul li.form-submit {
    display: inline;
    float: left;
    margin-left: 25px;
}