@using QuilmesAC.Helpers
@model QuilmesAC.Models.ForgotPassword
@{
    ViewBag.Title = "Forgot Username or Password";
}

<h2>Forgot Username or Password</h2>
@using (Html.BeginForm())
{
    <ul>
        <li class="main-left">
            <fieldset>
                <ul>
                    <li>
                        <p>
                            Use the form below to request your username or reset your password. A reset link will be sent to the email address on file.
                        </p>
                    </li>
                    <li>
                        @Html.RequriedLabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </li>
                    <li class="center">
                        <input type="submit" value="Send to Email" />
                    </li>
                </ul>
            </fieldset>
        </li>
        <li class="clear" />
    </ul>
}