@{
    ViewBag.Title = "Admin";
}
@section Head
{
    <link href="@Url.Content("/Views/Admin/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>Index</h2>
<fieldset class="main-left">
    <legend>Admin Panel</legend>
    <ul>
        <li>
            @Html.ActionLink("Add a Match", "Add", "Match")
        </li>
        <li>
            @Html.ActionLink("Add a Player", "Add", "Player")
        </li>
        <li>
            @Html.ActionLink("Manage Opponents", "Index", "Opponent")
        </li>
    </ul>
</fieldset>