@mainTheme: #35428A;
@blah: 1px;

/* Main Styles */
html {
    font: 14px Trebuchet MS,Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: @mainTheme;
    height: 100%;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* Header */
ul#social {
    float: right;
    margin: 0;
}
    ul#social li {   
        display: inline;
        list-style: none;    
    }

        ul#social li a.fb span {
            background: url(/Content/Images/facebook.png) no-repeat;
            height: 20px;
            width: 20px;
        }

        ul#social li#login a {
            color: #FFFFFF;
            text-decoration: none;
        }

ul#banner {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.65);
    clear: both;
    margin: 0;
    padding: 45px 0;
    text-align: center;
}

ul#banner  {
    list-style-type: none;
}

    ul#banner li {
        color: @mainTheme;
        font-size: 22px;
    }

nav {

}

/* Main Content */
.main-content {
    background-color: #FFFFFF;
}

li.required span {
    background: url(/Content/Images/required_star.png) no-repeat scroll right center;
    padding: 0 16px 0 0;
}

.main-left {
    float: left;
}

.main-right {
    float: right;
}

.clear {
    clear: both;
}

/* Styles for validation helpers */
.field-validation-error {
    color: #FF0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}

.validation-summary-errors {
    color: #FF0000;
    font-weight: bold;
}

.validation-summary-valid {
    display: none;
}