@{
	ViewBag.Title = "Home";
}
@section Head
{
	<link href="@Url.Content("/Views/Home/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>&#161;El Cervecero!</h2>
<p class="center">
	<img src="~/Content/Images/spring_2017.jpg" alt="Quilmes AC Fall 2016" />
</p>