@{
	ViewBag.Title = "Home";
}
@section Head
{
	<link href="@Url.Content("/Views/Home/Index.less")" rel="stylesheet/less" type="text/css" />
}

<p class="center">
	<img src="~/Content/Images/fall_2019.jpg" alt="Quilmes AC Fall 2019" />
</p>