@{
    ViewBag.Title = "Home";
}
@section Head
{
    <link href="@Url.Content("/Views/Home/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>&#161;El Cervecero!</h2>
<p class="center">
    <img src="~/Content/Images/spring 2016 team.jpg" alt="Quilmes AC Fall 2015" />
</p>