@{
	ViewBag.Title = "Home";
}
@section Head
{
	<link href="@Url.Content("/Views/Home/Index.less")" rel="stylesheet/less" type="text/css" />
}

<p class="center">
	<img src="~/Content/Images/spring_2018.jpeg" alt="Quilmes AC Spring 2018" />
</p>