@{
    ViewBag.Title = "Home";
}
@section Head
{
    <link id="Index.less" rel="stylesheet/less" type="text/css" href="@Url.Content("Views/Home/Index.less")" />
}

<p>
    <h2>&#161;El Cervecero!</h2>
</p>