@{
    ViewBag.Title = "Privacy";
}

<h2>Privacy</h2>
<div id="privacyContent">
    <p>
        <h4>Disclaimer</h4>
        The views, comments, and content of this website in no way reflect those of the Central Virginia Soccer Association,
        Cerveza Quilmes Buenos Aires, or Quilmes Atlectio Club Buenos Aires.
    </p>
    <p>
        <h4>Security</h4>
        This site takes every precaution to protect user information. When a user is asked to enter sensitive information,
        such as a username and password, that information is secure and protected with standard encryption strategies and
        best practices.
    </p>
    <p>
        <h4>Cookies</h4>
        Cookies are used on this website to identify registered users who are given a username and password. A person who
        chooses to register on this can always opt out at any time by contacting support at
        <a href="mailto:quilmesrva@gmail.com" target="_blank">quilmesrva@gmail.com</a>.
    </p>
</div>