@{
	ViewBag.Title = "About";
}
@section Head
{
	<link href="@Url.Content("/Views/About/Index.less")" rel="stylesheet/less" type="text/css" />
}

<h2>About Quilmes AC</h2>
<div id="aboutContent">
	<p>
		Quilmes AC is a men’s league football(soccer) team from Richmond, Virginia. The team was formed in the
		fall of 2014 by Aaron Porter pulling talent from various teams within and outside of the league.
	</p>
	<p>
		The club currently plays its matches in the second tier (first division) of the Central Virginia Soccer
		Association (CVSA) league. The CVSA is based on a system of promotion and relegation with two seasons a
		year, one from late February to early May and another from mid August to October. There are also two league
		cups, the Copa Bruce and CVSA Cup, played over the course of two seasons. Quilmes AC has found great
		success in the Copa Bruce, usually contested by teams from divisions 3-9, reaching the semifinal in its
		first season. After gaining promotion to the second division the club has begun playing in the top tier
		competition, the CVSA Cup. Though a championship season has eluded them, the team has boasted many winning
		seasons and has proved to be a more consistent team with every campaign.
	</p>
	<p>
		Quilmes AC strives for quality team play. There are no ball hogs or show-offs tolerated on the pitch.
		Every goal is a team effort built around organization and communication between 11 committed players.
		High football IQ, athleticism, discipline, and most importantly commitment are hallmarks of both the
		players and organizational structure of this club.
	</p>
	<p>
		We are always looking to build on our squad. Tryouts are held prior to each season, generally in June and
		July before the start of the Fall season and in January and February before the Spring season. If you have
		any general questions or are interested in joining our club please contact Aaron Porter at 
		<a href="mailto:porteraj2@gmail.com">porteraj2@gmail.com</a>.
	</p>
	<p>
		We currently have a good relationship with several teams within the CVSA with which we scrimmage in the
		offseason, but are always looking to diversify our offseason competition as much as possible. If you are a
		captain or player for another CVSA team and are looking for some good preseason competition please contact
		Aaron Porter at the aforementioned email address.
	</p>
	<p>
		Lastly, check out our schedule and head to Union Market in Union Hill/Church Hill, Richmond, VA after our
		games to share in some victory beers with the team and the WAGS!
	</p>
	<p class="center">
		<img src="~/Content/Images/spring_2018_2.jpeg" alt="Quilmes AC Spring 2018" />
	</p>
</div>