@{
	ViewBag.Title = "About";
}

<h2>About Quilmes AC</h2>
<div id="aboutContent">
	<p>
		Quilmes AC is an amateur Sunday league football team from Richmond, Virginia. The team was formed in the fall of 2014
		by Aaron Porter pulling talent from various teams within the league.
	</p>
	<p>
		The club currently plays its matches in the third teir of the "Central Virginia Soccer Association" league. The CVSA
		is loosley based on a system of promotion and relegation with two seasons a year, one from late February to early May
		and another from mid August to October. There are also two league cups,the Copa Bruce and CVSA Cup, played over the
		course of two seasons. Quilmes AC has found great success in the Copa Bruce, usually contested by teams from divions
		3-9, reaching the semi final in its first season. Though a championship season has eluded them, the team has boasted
		many winning seasons and has proved to be a more consistent team with every campaign.
	</p>
	<p>
		Quilmes AC strives for quality team play. There are no ball hogs or show-offs tolerated on the pitch. Every goal is a
		team effort built around organization and communication between 11 committed players.
	</p>
	<p>
		We are always looking to build on our squad so if you have any general questions or are interested in joing our club
		please contact Aaron Porter at <a href="mailto:porteraj2@gmail.com" target="_blank">porteraj2@gmail.com</a>.
	</p>
</div>