@{
	ViewBag.Title = "Sponsors";
}

<h2>Sponsors</h2>
<div id="SponsorWrapper">
	<p id="UnionMarket">
		<h3>Union Market</h3>
		Check out our sponsor <a href="http://unionmarketrva.com/" target="_blank">Union Market</a>, located at 2306 Jefferson Avenue in the heart of Union Hill, adjacent to Church Hill.
		Union Market is the official bar/restaurant of Quilmes Atletico Club, boasting an incredibly chill atmosphere, charming patio, top notch wine, a selection of craft beers that practically
		rotates daily, delicious soups, sandwiches, and sides, and a laid back friendly staff. Additionally stop in and pick something up from their market… beer, wine, ready to eat food, coffee,
		snacks, deserts, produce, top notch local meats, and all of your pantry staples. Have a growler? Stop in and fill it up with any draught beer or their on tap kombucha.  Just want a can of
		cheap beer? They’ve got you covered. Didn’t see the thing you want? I assure you they have it! Don’t feel like leaving the house? Order delivery by calling 804-716-7233.
	</p>
</div>